h2.end{
  text-decoration: underline;
  margin-left: 30px;
}

div.top {
  display: flex;
  flex-direction: row;
}

div.sections{
  margin-bottom: 100px;
}

label, input, select, button{
  margin-left: 60px;
}

ul.elements{
  width: 175px;
}

.form-inlineEnd {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: 10px;
  font-size: 20px;
}

.form-inline label {
  margin: 60px 5px 10px 5px 0;
  width: 75px;
  display: inline-block;
  text-align: center;

}

.enter-user input, label, select{
  margin: 10px 5px 10px 5px;
  width: 100px;
  display: inline-block;
}


.form-inline input, button{
  margin: 60px 5px 10px 5px 0;
  width: 75px;
  display: inline-block;
}

.form-inline select {
  margin: 10px;
  width: 120px;
}


.inline-date{
  display: flex;
  flex-flow: row wrap;
  align-items: center;

}

.inline-date input{
  text-align: center;
}

.todo-list {
  background-color: white;
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #efefef;
  padding: 30px;
}