h2{
  text-decoration: underline;
  margin-left: 30px;
}

label, input, select{
  margin-left: 60px;
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: 10px;
}

.form-inline label {
  margin: 60px 5px 10px 5px 0;
  width: 75px;
  display: inline-block;
  text-align: center;

}

.form-inline input{
  margin: 60px 5px 10px 5px 0;
  width: 75px;
  display: inline-block;
}

.form-inline select {
  margin: 10px;
  width: 120px;
}


.inline-date{
  display: flex;
  flex-flow: row wrap;
  align-items: center;

}

.inline-date input{
  text-align: center;
}
