h2.inventory{
  font-weight: normal;
  font-size: 40px;
  background-color: #bdc0c5;
  text-align: center;
  align-self: auto;
  color: #33445a;
  border-radius: 5%;
  padding-left: 20px;
  padding-right: 20px;
  
}

div.across{
  font-size: 120%;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 10px;
}

.column{
  font-size: 100%;
  margin: 60px 30px 60px 30px;
  width: 250px;
  align-content: center;
}
