h2.inventory{
  text-decoration: underline;
  text-decoration-color: red;
  text-align: left;
  align-self: auto;

}

div.across{
  font-size: 150%;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 10px;
}

.column{
  font-size: 100%;
  margin: 60px 30px 60px 30px;
  border: 3px solid black;
  width: 250px;
}
