
.calender{
    font: .8rem 'Fira Sans', sans-serif;
    margin: 60px 5px 10px 5px 0;
}

  .salesStyle {
    background-color: white;
    margin: auto;
    width: 50%;
    height: 770px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #efefef;
    padding: 50px;
  }

.formatInline{
  display: flex;
  font-size: large;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 80px;
  margin: 10px 5px 10px 5px 0;
}

.dropdown-menu {
  width: 300px !important;
  height: 400px !important;
}